<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Random as a Service</title>
</head>
<body>

<h1>Random as a Service</h1>

<form>
<input type="submit" />
</form>

<pre><%= base64 %></pre>
<pre><%= Time.now %></pre>

</body>
</html>
